<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Unicon.mapper.adptMapper">
 
<resultMap type="com.Unicon.domain.AnimalVO" id="AnimalResultMap">
	<id property="animal_id" column="animal_id"/>
	<result property="category_code" column="category_code"/>
	<result property="category_etc_value" column="category_etc_value"/>
	<result property="animal_name" column="animal_name"/>
	<result property="animal_color" column="animal_color"/>
	<result property="animal_gender" column="animal_gender"/>
	<result property="gender_value" column="gender_value"/>
	<result property="animal_neuter" column="animal_neuter"/>
	<result property="neuter_value" column="neuter_value"/>
	<result property="animal_age" column="animal_age"/>
	<result property="animal_weight" column="animal_weight"/>
	<result property="weight_value" column="weight_value"/>
	<result property="member_id" column="member_id"/>
	<result property="animal_regdate" column="animal_regdate"/>
	<result property="animal_upddate" column="animal_upddate"/>
	<result property="animal_status" column="animal_status"/>
	<result property="animal_status_value" column="animal_status_value"/>
	<result property="animal_regnum" column="animal_regnum"/>
	<result property="animal_act" column="animal_act"/>
	<result property="act_value" column="act_value"/>
	<result property="animal_social" column="animal_social"/>
	<result property="social_value" column="social_value"/>
	<result property="animal_etc" column="animal_etc"/>
	<result property="adpt_member" column="adpt_member"/>
	<result property="animal_reason" column="animal_reason"/>
	
	<association property="memberVO" resultMap="MemberResultMap"/>
	<association property="animalInterestVO" resultMap="InterestResultMap"/>
	<association property="adptVO" resultMap="AdptResultMap"/>
	<association property="categoryDataVO" resultMap="CategoryResultMap"/>
	
	<collection property="animal_images" ofType="com.Unicon.domain.ImageVO" resultMap="ImageResultMap"/>
	<collection property="animal_healths" ofType="com.Unicon.domain.AnimalHealthVO" resultMap="HealthResultMap"/>
	<collection property="animal_vaccines" ofType="com.Unicon.domain.AnimalVaccineVO" resultMap="VaccineResultMap"/>
	<collection property="adptCounselList" ofType="com.Unicon.domain.AdptCounselVO" resultMap="CounselResultMap"/>
</resultMap>


<resultMap type="com.Unicon.domain.AdptCounselVO" id="CounselResultMap">
	<result property="animal_id" column="animal_id"/>
	<result property="member_id" column="member_id"/>
	<result property="counsel_subdate" column="counsel_subdate"/>
	<result property="counsel_procdate" column="counsel_procdate"/>
	<result property="counsel_status" column="counsel_status"/>
	<result property="counsel_status_value" column="counsel_status_value"/>
	<result property="counsel_status" column="counsel_status"/>
	<result property="counsel_reason" column="counsel_reason"/>
</resultMap>

<resultMap type="com.Unicon.domain.MemberVO" id="MemberResultMap">
	<id property="member_id" column="member_id"/>
	<result property="member_pw" column="member_pw"/>
	<result property="member_name" column="member_name"/>
	<result property="member_nickname" column="member_nickname"/>
	<result property="member_tel" column="member_tel"/>
	<result property="member_gender" column="member_gender"/>
	<result property="member_birth" column="member_birth"/>
	<result property="member_email" column="member_email"/>
	<result property="member_image" column="member_image"/>
	<result property="road_address" column="road_address"/>
	<result property="detail_address" column="detail_address"/>
</resultMap>

<resultMap type="com.Unicon.domain.AnimalInterestVO" id="InterestResultMap">
	<id property="animal_id" column="animal_id"/>
	<id property="member_id" column="member_id"/>
	<result property="interest_regdate" column="interest_regdate"/>
	<result property="adpt_interest_sum" column="adpt_interest_sum"/>
</resultMap>

<resultMap type="com.Unicon.domain.AdptVO" id="AdptResultMap">
	<id property="adpt_id" column="adpt_id"/>
	<result property="animal_id" column="animal_id"/>
	<result property="adpt_regdate" column="adpt_regdate"/>
	<result property="adpt_upddate" column="adpt_upddate"/>
	<result property="adpt_intro" column="adpt_intro"/>
	<result property="adpt_etc" column="adpt_etc"/>
	<result property="adpt_status" column="adpt_status"/>
	<result property="adpt_status_value" column="adpt_status_value"/>
	<result property="adpt_reason" column="adpt_reason"/>
</resultMap>

<resultMap type="com.Unicon.domain.ImageVO" id="ImageResultMap">
	<id property="image_id" column="image_id"/>
	<id property="image_type" column="image_type"/>
	<id property="image_sequence" column="image_sequence"/>
	<result property="image_src" column="image_src"/>
</resultMap>

<resultMap type="com.Unicon.domain.AnimalHealthVO" id="HealthResultMap">
	<id property="animal_id" column="animal_id"/>
	<id property="health" column="health"/>
	<result property="health_check" column="health_check"/>
</resultMap>

<resultMap type="com.Unicon.domain.AnimalVaccineVO" id="VaccineResultMap">
	<id property="animal_id" column="animal_id"/>
	<id property="vaccine" column="vaccine"/>
	<result property="vaccine_check" column="vaccine_check"/>
</resultMap>

<resultMap type="com.Unicon.domain.CategoryDataVO" id="CategoryResultMap">
	<id property="category_code" column="category_code"/>
	<result property="category_type" column="category_type"/>
	<result property="category_value" column="category_value"/>
	<result property="category_parent" column="category_parent"/>
</resultMap>



<insert id="insertAnimal" parameterType="com.Unicon.domain.AnimalVO">
	insert into _animal (animal_id, category_code, category_etc_value, animal_name, animal_color, animal_gender, animal_neuter, animal_age, 
	 animal_weight, member_id, animal_regnum, animal_act, animal_social, animal_etc) 
  	values (#{animal_id}, #{category_code}, #{category_etc_value}, #{animal_name}, #{animal_color}, #{animal_gender}, #{animal_neuter}, 
   	 #{animal_age}, #{animal_weight}, #{member_id}, #{animal_regnum}, #{animal_act}, #{animal_social}, #{animal_etc})
</insert>
<insert id="insertAnimalImages" parameterType="List">
	insert into _image (image_id, image_type, image_sequence, image_src) 
	values 
	  <foreach collection="list" item="li" separator=","> 
	   (#{li.image_id}, #{li.image_type}, #{li.image_sequence}, #{li.image_src}) 
	  </foreach> 
</insert>
<insert id="insertAnimalHealths" parameterType="Map">
	insert into _animal_health (animal_id, health, health_check) 
	values 
	  <foreach collection="healths" item="h" separator=","> 
	   (#{animal_id}, #{h.health}, #{h.health_check}) 
	  </foreach> 
</insert>
<insert id="insertAnimalVaccines" parameterType="Map">
	insert into _animal_vaccine (animal_id, vaccine, vaccine_check) 
	values 
	  <foreach collection="vaccines" item="v" separator=","> 
	   (#{animal_id}, #{v.vaccine}, #{v.vaccine_check}) 
	  </foreach> 
</insert>



<select id="checkAnimalId" parameterType="String" resultType="Integer">
	select count(animal_id) 
	from _animal 
	where animal_id = #{animal_id} limit 1 
</select>
<select id="checkAnimalIdMemberId" parameterType="Map" resultType="Integer">
	select count(animal_id) 
	from _animal 
	where animal_id = #{animal_id} and animal_status != 6 and member_id = #{member_id} limit 1 
</select>



<select id="getAnimalListAllMember" resultMap="AnimalResultMap" parameterType="String">
	select a.animal_id, a.category_etc_value, a.animal_name, date_format(a.animal_regdate, '%Y-%m-%d') as animal_regdate, 
	 c.category_type, c.category_value, 
	  m.member_name, 
	   ac.common_value as animal_status_value 
    from _animal a 
     join _category_data c on a.category_code = c.category_code 
      join _member m on a.member_id = m.member_id 
       join _common ac on a.animal_status = ac.common_code 
    where ac.common_column = 'animal_status' and a.animal_status != 6 
     and a.member_id = #{member_id} 
</select>
<select id="getAnimalListAll" resultMap="AnimalResultMap">
	select a.animal_id, a.category_etc_value, a.animal_name, date_format(a.animal_regdate, '%Y-%m-%d') as animal_regdate, 
	 c.category_type, c.category_value, 
	  m.member_name, m.road_address, 
	   ac.common_value as animal_status_value 
    from _animal a 
     join _category_data c on a.category_code = c.category_code 
      join _member m on a.member_id = m.member_id 
       join _common ac on a.animal_status = ac.common_code 
    where ac.common_column = 'animal_status' and a.animal_status != 6 
</select>



<select id="getAnimalListOne" resultMap="AnimalResultMap" parameterType="String">
	select a.animal_id, a.category_etc_value, a.animal_name, a.animal_color, a.animal_gender, 
	 a.animal_neuter, a.animal_age, a.animal_weight, a.member_id, a.animal_regdate, a.animal_status, a.animal_regnum, 
	  a.animal_act, a.animal_social, a.animal_etc, a.adpt_member, a.animal_reason, 
	   c.category_value, c.category_code, c.category_type, c.category_parent, 
	    i.image_id, i.image_type, i.image_sequence, i.image_src, 
	     h.health, h.health_check, 
	      v.vaccine, v.vaccine_check 
    from _animal a 
     join _category_data c on a.category_code = c.category_code 
      join _image i on a.animal_id = i.image_id 
       join _animal_health h on a.animal_id = h.animal_id 
        join _animal_vaccine v on a.animal_id = v.animal_id 
         left join _adpt ad on a.animal_id = ad.animal_id 
    where a.animal_id = #{animal_id} and a.animal_status != 6 
     order by i.image_sequence asc 
</select>

<select id="getAnimalWritingOne" resultMap="AnimalResultMap" parameterType="String">
	select a.animal_id, a.category_etc_value, a.animal_name, a.animal_color, a.animal_gender, 
	 a.animal_neuter, a.animal_age, a.animal_weight, a.member_id, a.animal_regdate, a.animal_status, a.animal_regnum, 
	  a.animal_act, a.animal_social, a.animal_etc, a.adpt_member, a.animal_reason, 
	   c.category_value, c.category_code, c.category_type, c.category_parent, 
	    i.image_id, i.image_type, i.image_sequence, i.image_src, 
	     h.health, h.health_check, 
	      v.vaccine, v.vaccine_check, 
	       ad.*  
    from _animal a 
     join _category_data c on a.category_code = c.category_code 
      join _image i on a.animal_id = i.image_id 
       join _animal_health h on a.animal_id = h.animal_id 
        join _animal_vaccine v on a.animal_id = v.animal_id 
         left join _adpt ad on a.animal_id = ad.animal_id 
    where a.animal_id = #{animal_id} and a.animal_status != 6 and ad.adpt_status != 4 
     order by i.image_sequence asc 
</select>



<update id="modifyAnimal" parameterType="com.Unicon.domain.AnimalVO">
	update _animal 
	set category_code = #{category_code}, category_etc_value = #{category_etc_value}, animal_name = #{animal_name}, 
	  animal_color = #{animal_color}, animal_gender = #{animal_gender}, animal_neuter = #{animal_neuter}, 
	   animal_age = #{animal_age}, animal_weight = #{animal_weight}, animal_regnum = #{animal_regnum}, 
	    animal_act = #{animal_act}, animal_social = #{animal_social}, animal_etc = #{animal_etc}, adpt_member = #{adpt_member} 
	     where animal_id = #{animal_id} 
</update>
<insert id="modifyAnimalImages" parameterType="List">
	insert into _image (image_id, image_type, image_sequence, image_src) 
	values 
	 <foreach collection="list" item="li" separator=","> 
	  (#{li.image_id}, #{li.image_type}, #{li.image_sequence}, #{li.image_src}) 
	 </foreach> 
	 on duplicate key update 
	   image_src = values(image_src) 
</insert>
<insert id="modifyAnimalHealths" parameterType="Map">
	insert into _animal_health (animal_id, health, health_check) 
	values 
	<foreach collection="healths" item="h" separator=","> 
	 (#{animal_id}, #{h.health}, #{h.health_check}) 
	</foreach> 
	on duplicate key update 
	  health_check = values(health_check) 
</insert>
<update id="modifyAnimalVaccines" parameterType="Map">
	insert into _animal_vaccine (animal_id, vaccine, vaccine_check) 
	values 
	<foreach collection="vaccines" item="v" separator=","> 
	 (#{animal_id}, #{v.vaccine}, #{v.vaccine_check}) 
	</foreach> 
	on duplicate key update 
	  vaccine_check = values(vaccine_check) 
</update>

<update id="modifyAnimalStatus" parameterType="Map">
	update _animal 
	set animal_status = #{animal_status}, animal_reason = #{animal_reason} 
	where animal_id = #{animal_id} 
</update>
<update id="animalStatusEnd" parameterType="Map">
	update _adpt 
	set adpt_status = #{adpt_status} 
	where animal_id = #{animal_id} 
</update>


<select id="getMemberInfo" parameterType="String" resultType="com.Unicon.domain.MemberVO">
	select * 
	from _member 
	where member_id = #{member_id} 
</select>



<insert id="adptWritingInsert" parameterType="com.Unicon.domain.AdptVO">
	insert into _adpt (adpt_id, animal_id, adpt_intro, adpt_etc, member_id) 
	values 
	 (concat(#{adpt_id}, lpad(ifnull((select max(adpt_ai) from (select adpt_ai from _adpt) as tempAdpt), 0) + 1, 6, '0')), 
	  #{animal_id}, #{adpt_intro}, #{adpt_etc}, #{member_id}) 
</insert>
<update id="writingAnimalStatus" parameterType="Map">
	update _animal 
	set animal_status = #{animal_status} 
	where animal_id = #{animal_id} 
</update>



<select id="getWritingListAllMember" resultMap="AnimalResultMap" parameterType="String">
	select a.*, ad.*, m.*, cm.common_value as adpt_status_value, c.* 
	from _animal a 
	  join _adpt ad on a.animal_id = ad.animal_id 
	   join _member m on a.member_id = m.member_id 
        join _category_data c on a.category_code = c.category_code 
	     join _common cm on ad.adpt_status = cm.common_code 
    where cm.common_column = 'adpt_status' and a.animal_status in (2, 3, 4) and ad.adpt_status != 4 
     and ad.member_id = #{member_id} 
</select>

<select id="getWritingListAll" resultMap="AnimalResultMap">
	select a.*, ad.*, m.*, cm.common_value as adpt_status_value, c.* 
	from _animal a 
	  join _adpt ad on a.animal_id = ad.animal_id 
	   join _member m on a.member_id = m.member_id 
        join _category_data c on a.category_code = c.category_code 
	     join _common cm on ad.adpt_status = cm.common_code 
    where cm.common_column = 'adpt_status' and a.animal_status in (2, 3, 4) and ad.adpt_status != 4 
</select>


<update id="modifyWriting" parameterType="com.Unicon.domain.AdptVO">
	update _adpt 
	set adpt_intro = #{adpt_intro}, adpt_etc = #{adpt_etc}, adpt_status = #{adpt_status} 
	where animal_id = #{animal_id} 
</update>


<update id="deleteWriting" parameterType="com.Unicon.domain.AdptVO">
	update _adpt 
	set adpt_status = #{adpt_status} 
	where animal_id = #{animal_id} and adpt_id = #{adpt_id} 
</update>


<update id="writingsStatusManager" parameterType="Map">
	update _adpt 
	set adpt_status = #{adpt_status} 
	<if test="adpt_reason != null and adpt_reason != ''"> 
	 , adpt_reason = #{adpt_reason} 
	</if> 
	where animal_id = #{animal_id} and adpt_id = #{adpt_id} 
</update>


<select id="getAdptList" resultMap="AnimalResultMap">
	select a.animal_id, a.category_etc_value, a.animal_name, a.animal_color, a.animal_gender, 
	 a.animal_neuter, a.animal_age, a.animal_weight, a.member_id, a.animal_regdate, a.animal_status, a.animal_regnum, 
	  a.animal_act, a.animal_social, a.animal_etc, a.adpt_member, 
	   c.category_value, c.category_code, c.category_type, c.category_parent, 
	    i.image_id, i.image_type, i.image_sequence, i.image_src, 
	     h.health, h.health_check, 
	      v.vaccine, v.vaccine_check, 
	       ad.*  
    from _animal a 
     join _category_data c on a.category_code = c.category_code 
      join _image i on a.animal_id = i.image_id 
       join _animal_health h on a.animal_id = h.animal_id 
        join _animal_vaccine v on a.animal_id = v.animal_id 
         left join _adpt ad on a.animal_id = ad.animal_id 
    where a.animal_status != 6 
     order by i.image_sequence asc 
</select>


<select id="forMainAdptData" resultMap="AnimalResultMap">
	select a.animal_id, a.category_etc_value, a.animal_name, a.animal_color, a.animal_gender, 
	 a.animal_neuter, a.animal_age, a.animal_weight, a.member_id, a.animal_regdate, a.animal_status, a.animal_regnum, 
	  a.animal_act, a.animal_social, a.animal_etc, a.adpt_member, 
	   c.category_value, c.category_code, c.category_type, c.category_parent, 
	    i.image_id, i.image_type, i.image_sequence, i.image_src, 
	     h.health, h.health_check, 
	      v.vaccine, v.vaccine_check, 
	       ad.*  
    from _animal a 
     join _category_data c on a.category_code = c.category_code 
      join _image i on a.animal_id = i.image_id 
       join _animal_health h on a.animal_id = h.animal_id 
        join _animal_vaccine v on a.animal_id = v.animal_id 
         join _adpt ad on a.animal_id = ad.animal_id 
    where a.animal_status != 6 and ad.adpt_status = 2 
     order by ad.adpt_regdate desc limit 400 
</select>



<!-- 사용자 페이지 입양하기 -->
<select id="getAdptFilterView" resultMap="AnimalResultMap" parameterType="Map">
	select a.*, c.*, i.*, h.*, v.*, ad.*, m.* 
    from _animal a 
     join _category_data c on a.category_code = c.category_code 
      join _image i on a.animal_id = i.image_id 
       join _animal_health h on a.animal_id = h.animal_id 
        join _animal_vaccine v on a.animal_id = v.animal_id 
         join _adpt ad on a.animal_id = ad.animal_id 
          join _member m on a.member_id = m.member_id  
    where a.animal_status != 6 and ad.adpt_status = 2 
    <choose> 
	    <when test="adptFilter == 'dog'"> 
	     and floor(a.category_code/1000) = 1 
	    </when> 
	    <when test="adptFilter == 'cat'"> 
	     and floor(a.category_code/2000) = 1 
	    </when> 
	    <when test="adptFilter == 'etc'"> 
	     and floor(a.category_code/3000) = 1 
	    </when> 
    </choose>
    
	    <if test="category_code != ''">
	     and a.category_code = #{category_code} 
	    </if>
	    <if test="location != ''">
	     and ad.adpt_id like concat('ADPT-',#{location},'-%-______-______') 
	    	<if test="location_detail != ''">
	     	 and ad.adpt_id like concat('ADPT-', #{location}, '-', #{location_detail}, '-%') 
	    	</if>
	    </if>
	    <if test="searchWord != ''">
	     and (ad.adpt_id like concat('%', #{searchWord}, '%') 
	     or a.animal_name like concat('%', #{searchWord}, '%'))  
	    </if>
	    
    <choose>
	    <when test="dateOption == 'latest'">
	     order by ad.adpt_regdate desc 
	    </when>
	    <when test="dateOption == 'oldest'">
	     order by ad.adpt_regdate asc 
	    </when>
	    <otherwise>
	     order by ad.adpt_regdate desc 
	    </otherwise>
    </choose>
</select>


<!-- 상담신청 -->
<insert id="counselSubmit" parameterType="Map">
	insert into _adpt_counsel(animal_id, member_id) 
	values(#{animal_id}, #{member_id}) 
</insert>


<!-- 신청확인 -->
<select id="counselCheckMember" parameterType="Map" resultType="int">
	select count(member_id) 
	from _adpt_counsel 
	where animal_id = #{animal_id} and member_id = #{member_id} limit 1 
</select>

<!-- 상담 신청 목록 -->
<select id="getCounselList" parameterType="Map" resultMap="AnimalResultMap">
	select adc.animal_id, adc.member_id, adc.counsel_subdate, adc.counsel_procdate, adc.counsel_status, 
	 a.animal_name, 
	  ad.adpt_id, 
	   cd.category_value, cd.category_type 
	from _adpt_counsel adc 
	 join _animal a on adc.animal_id = a.animal_id 
	   join _adpt ad on adc.animal_id = ad.animal_id 
	    join _category_data cd on a.category_code = cd.category_code 
	where ad.adpt_status = 2 and a.animal_status not in (1, 4, 5, 6) 
	and a.member_id = #{member_id} 
</select>

</mapper>


