<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Unicon.mapper.CommunityMapper">

<!-- resultMap 작성란 -->

<resultMap id="PostResultMap" type="com.Unicon.domain.PostVO">
	<id property="post_id" column="post_id"/>
	<result property="member_id" column="member_id"/>
	<result property="post_title" column="post_title"/>
	<result property="post_content" column="post_content"/>
	<result property="post_date" column="post_date"/>
	<result property="post_type" column="post_type"/>
	<result property="pet_code" column="pet_code"/>
	<result property="pet_etc_breed" column="pet_etc_breed"/>
	<result property="post_pet_place" column="post_pet_place"/>
	<result property="post_pet_date" column="post_pet_date"/>
	<result property="post_resion" column="post_resion"/>
	<!-- <result property="post_like_count" column="post_like_count"/> -->
	
	<association property="memberVO" resultMap="MemberResultMap" />
	<association property="categoryDataVO" resultMap="CategoryDataResultMap" />
	
	<collection property="post_images" ofType="com.Unicon.domain.ImageVO" resultMap="ImageResultMap"/>
	<collection property="post_comments" ofType="com.Unicon.domain.CommentVO" resultMap="CommentResultMap"></collection>
	<collection property="post_likes" ofType="com.Unicon.domain.PostLikeVO" resultMap="PostLikeResultMap"></collection>

</resultMap>

<resultMap id="MemberResultMap" type="com.Unicon.domain.MemberVO">
	<id property="member_id" column="member_id"/>
	<result property="member_name" column="member_name"/>
	<result property="road_address" column="road_address"/>
	<result property="member_nickname" column="member_nickname"/>
	<result property="member_image" column="member_image"/>
	
	<collection property="member_pets" ofType="com.Unicon.domain.PetVO" resultMap="PetResultMap"></collection>
</resultMap>

<resultMap id="CategoryDataResultMap" type="com.Unicon.domain.CategoryDataVO">
	<id property="category_code" column="category_code"/>
	<result property="category_type" column="category_type"/>
	<result property="category_value" column="category_value"/>
	<result property="category_parent" column="category_parent"/>
</resultMap>

<resultMap id="ImageResultMap" type="com.Unicon.domain.ImageVO">
	<id property="image_id" column="image_id"/>
	<id property="image_type" column="image_type"/>
	<id property="image_sequence" column="image_sequence"/>
	<result property="image_src" column="image_src"/>
</resultMap>

<resultMap id="CommentResultMap" type="com.Unicon.domain.CommentVO">
	<id property="comment_id" column="comment_id"/>
	<result property="post_id" column="post_id"/>
	<result property="member_id" column="member_id"/>
	<result property="comment_content" column="comment_content"/>
	<result property="comment_date" column="comment_date"/>
	<association property="memberVO" resultMap="MemberResultMap" />
	<collection property="comment_likes" ofType="com.Unicon.domain.CommentLikeVO" resultMap="CommentLikeResultMap"></collection>
</resultMap>

<resultMap id="PostLikeResultMap" type="com.Unicon.domain.PostLikeVO">
	<result property="post_id" column="post_id" />
	<result property="member_id" column="member_id" />
	<result property="post_like_count" column="post_like_count"/>
</resultMap>

<resultMap id="CommentLikeResultMap" type="com.Unicon.domain.CommentLikeVO">
	<result property="comment_id" column="comment_id" />
	<result property="member_id" column="member_id" />
	<result property="comment_like_count" column="comment_like_count"/>
</resultMap>

<!-- 일단 대기 (좋아요 vo 처럼 필요없을거 같긴함 (근데 컬럼명이 다르긴 함)) -->
<resultMap id="FollowResultMap" type="com.Unicon.domain.FollowVO">
	<result property="from_member_id" column="from_member_id"/>
	<result property="to_member_id" column="to_member_id"/>
</resultMap>

<resultMap id="PetResultMap" type="com.Unicon.domain.PetVO">
	<id property="pet_id" column="pet_id"/>
	<result property="member_id" column="member_id"/>
	<result property="pet_src" column="pet_src"/>
	<result property="pet_name" column="pet_name"/>
	<result property="pet_gender" column="pet_gender"/>
	<result property="pet_color" column="pet_color"/>
	<result property="pet_type" column="pet_type"/>
	<result property="pet_code" column="pet_code"/>
	<result property="pet_etc_breed" column="pet_etc_breed"/>
	<result property="pet_birthdate" column="pet_birthdate"/>
	<result property="pet_adopdate" column="pet_adopdate"/>
	
	<association property="categoryDataVO" resultMap="CategoryDataResultMap" />
</resultMap>
<!-- 일단 대기 -->

<!-- resultMap 작성란 -->



<!-- 메인페이지용 입양후기 게시물 불러오기 -->
<select id="forMainCommunityData" resultMap="PostResultMap">
	select p.*, ct.*, m.*, i.image_sequence, i.image_src, count(pl.member_id) as post_like_count from _post p 
	join _image i on p.post_id = i.image_id 
	join _category_data ct on p.pet_code = ct.category_code 
	join _member m on p.member_id = m.member_id 
	left join _post_like pl on p.post_id = pl.post_id 
	where p.post_type = 'post01' 
	group by p.post_id, i.image_sequence, i.image_src 
	order by p.post_date desc 
</select>
<!-- 메인페이지용 입양후기 게시물 불러오기 -->



<!-- 반려동물 정보 불러오기 -->
<select id="getPet" resultMap="MemberResultMap">
	select p.*, m.member_id, m.member_name, m.member_nickname, c.* 
	from _pet p 
	join _member m on p.member_id = m.member_id 
    join _category_data c on p.pet_code = c.category_code 
	where m.member_id = #{member_id} 
</select>
<!-- 반려동물 정보 불러오기 -->

<!-- 해당하는 반려동물 정보 불러오기 -->
<select id="getPetInfo" resultMap="MemberResultMap">
	select p.*, m.member_id, m.member_name, m.member_nickname, c.* 
	from _pet p 
	join _member m on p.member_id = m.member_id 
    join _category_data c on p.pet_code = c.category_code 
	where p.pet_id = #{pet_id} 
</select>
<!-- 해당하는 반려동물 정보 불러오기 -->

<!-- 전체 게시글 불러오기 -->
<select id="getPostList" resultMap="PostResultMap" parameterType="String">
	select p.*, ct.*, m.*, i.image_sequence, i.image_src, count(pl.member_id) as post_like_count from _post p 
	join _image i on p.post_id = i.image_id 
	join _category_data ct on p.pet_code = ct.category_code 
	join _member m on p.member_id = m.member_id 
	left join _post_like pl on p.post_id = pl.post_id 
	where p.post_type = #{post_type} 
	group by p.post_id, i.image_sequence, i.image_src 
	order by p.post_date desc 
</select>
<!-- 전체 게시글 불러오기 -->

<!-- 프로필 게시글 종류별 불러오기 -->
<select id="getProfilePostList" resultMap="PostResultMap">
	select p.*, ct.*, m.*, i.image_sequence, i.image_src, count(pl.member_id) as post_like_count from _post p 
	join _image i on p.post_id = i.image_id 
	join _category_data ct on p.pet_code = ct.category_code 
	join _member m on p.member_id = m.member_id 
	left join _post_like pl on p.post_id = pl.post_id 
	where p.post_type = #{post_type} 
	and p.member_id = #{member_id} 
	group by p.post_id, i.image_sequence, i.image_src 
	order by p.post_date desc 
</select>
<!-- 프로필 게시글 종류별 불러오기 -->

<!-- 프로필 게시물 불러오기 -->
<select id="getProfilePostList01" resultMap="PostResultMap">
	select p.*, ct.*, m.*, i.image_sequence, i.image_src, count(pl.member_id) as post_like_count from _post p 
	join _image i on p.post_id = i.image_id 
	join _category_data ct on p.pet_code = ct.category_code 
	join _member m on p.member_id = m.member_id 
	left join _post_like pl on p.post_id = pl.post_id 
	where p.post_type = 'post01' 
	and p.member_id = #{member_id} 
	group by p.post_id, i.image_sequence, i.image_src 
	order by p.post_date desc 
</select>
<!-- 프로필 게시물 불러오기 -->

<!-- 입양후기 게시물 불러오기 -->
<select id="getPostList01" resultMap="PostResultMap">
	select p.*, ct.*, m.*, i.image_sequence, i.image_src, count(pl.member_id) as post_like_count from _post p 
	join _image i on p.post_id = i.image_id 
	join _category_data ct on p.pet_code = ct.category_code 
	join _member m on p.member_id = m.member_id 
	left join _post_like pl on p.post_id = pl.post_id 
	where p.post_type = 'post01' 
	group by p.post_id, i.image_sequence, i.image_src 
	order by p.post_date desc 
</select>
<!-- 입양후기 게시물 불러오기 -->

<!-- 반려이야기 게시물 불러오기 -->
<select id="getPostList02" resultMap="PostResultMap">
	select p.*, ct.*, m.*, i.image_sequence, i.image_src, count(pl.member_id) as post_like_count from _post p 
	join _image i on p.post_id = i.image_id 
	join _category_data ct on p.pet_code = ct.category_code 
	join _member m on p.member_id = m.member_id 
	left join _post_like pl on p.post_id = pl.post_id 
	where p.post_type = 'post02' 
	group by p.post_id, i.image_sequence, i.image_src 
	order by p.post_date desc 
</select>
<!-- 전체 게시글 불러오기 -->

<!-- 실종 게시물 불러오기 -->
<select id="getPostList03" resultMap="PostResultMap">
	select p.*, ct.*, m.*, i.image_sequence, i.image_src, count(pl.member_id) as post_like_count from _post p 
	join _image i on p.post_id = i.image_id 
	join _category_data ct on p.pet_code = ct.category_code 
	join _member m on p.member_id = m.member_id 
	left join _post_like pl on p.post_id = pl.post_id 
	where p.post_type = 'post03' 
	group by p.post_id, i.image_sequence, i.image_src 
	order by p.post_date desc 
</select>
<!-- 전체 게시글 불러오기 -->

<!-- 임시보호 게시물 불러오기 -->
<select id="getPostList04" resultMap="PostResultMap">
	select p.*, ct.*, m.*, i.image_sequence, i.image_src, count(pl.member_id) as post_like_count from _post p 
	join _image i on p.post_id = i.image_id 
	join _category_data ct on p.pet_code = ct.category_code 
	join _member m on p.member_id = m.member_id 
	left join _post_like pl on p.post_id = pl.post_id 
	where p.post_type = 'post04' 
	group by p.post_id, i.image_sequence, i.image_src 
	order by p.post_date desc 
</select>
<!-- 전체 게시글 불러오기 -->

<!-- 해당 게시글 불러오기 -->
<select id="getPostListOne" resultMap="PostResultMap">
	select p.*, ct.*, m.*, i.image_sequence, i.image_src, count(pl.member_id) as post_like_count from _post p 
	join _image i on p.post_id = i.image_id 
	join _category_data ct on p.pet_code = ct.category_code 
	join _member m on p.member_id = m.member_id 
	left join _post_like pl on p.post_id = pl.post_id 
	where p.post_id = #{p.post_id} 
	group by p.post_id, i.image_sequence, i.image_src 
	order by p.post_date desc 
</select>
<!-- 해당 게시글 불러오기 -->

<!-- 해당 게시글의 전체 댓글 불러오기 -->
<select id="getCommentListAll" resultMap="CommentResultMap">
	select cm.*, m.*, count(cl.member_id) as comment_like_count from _comment cm 
	join _member m on cm.member_id = m.member_id 
	join _post p on cm.post_id = p.post_id 
	left join _comment_like cl on cm.comment_id = cl.comment_id 
	where p.post_id = #{p.post_id} 
	group by cm.comment_id, m.member_id 
	order by cm.comment_date desc 
</select>
<!-- 해당 게시글의 전체 댓글 불러오기 -->

<!-- 댓글 등록 -->
<insert id="insertComment" parameterType="CommentVO" useGeneratedKeys="true" keyProperty="comment_id">
	insert into _comment (post_id, member_id, comment_content, comment_date) values 
	(#{post_id}, #{member_id}, #{comment_content}, now()) 
</insert>
<!-- 댓글 등록 -->

<!-- 댓글 삭제 -->
<delete id="deleteComment">
	delete from _comment 
	where comment_id = #{comment_id} 
</delete>
<delete id="deleteCommentLike">
	delete from _comment_like 
	where comment_id = #{comment_id} 
</delete>
<!-- 댓글 삭제 -->

<!-- 게시물 삭제 -->
<delete id="deletePost">
	delete from _post 
	where post_id = #{post_id} 
</delete>
<delete id="deletePostLike">
	delete from _post_like 
	where post_id = #{post_id} 
</delete>
<delete id="deletePostComment">
	delete from _comment 
	where post_id = #{post_id} 
</delete>
<!-- <delete id="deletePostCommentLike"> -->
<!-- 	delete from _comment_like  -->
<!-- 	where comment_id = #{comment_id}  -->
<!-- </delete> -->
<!-- 게시물 삭제 -->

<!-- 게시물 좋아요 확인 -->
<select id="isPostLike" parameterType="map" resultType="int">
	select count(*) from _post_like 
	where post_id = #{post_id} 
	and member_id = #{member_id} 
</select>
<!-- 게시물 좋아요 확인 -->

<!-- 게시물 좋아요 -->
<insert id="postLikeInsert" parameterType="map">
	insert into _post_like (post_id, member_id) 
	values (#{post_id}, #{member_id}) 
</insert>
<!-- 게시물 좋아요 -->

<!-- 게시물 좋아요 취소 -->
<delete id="postLikeDelete" parameterType="map">
	delete from _post_like 
	where post_id = #{post_id} 
	and member_id = #{member_id} 
</delete>
<!-- 게시물 좋아요 취소 -->

<!-- 댓글 좋아요 확인 -->
<select id="isCommentLike" parameterType="map" resultType="int">
	select count(*) from _comment_like 
	where comment_id = #{comment_id} 
	and member_id = #{member_id} 
</select>
<!-- 댓글 좋아요 확인 -->

<!-- 댓글 좋아요 -->
<insert id="commentLikeInsert" parameterType="map">
	insert into _comment_like (comment_id, member_id) 
	values (#{comment_id}, #{member_id}) 
</insert>
<!-- 댓글 좋아요 -->

<!-- 댓글 좋아요 취소 -->
<delete id="commentLikeDelete" parameterType="map">
	delete from _comment_like 
	where comment_id = #{comment_id} 
	and member_id = #{member_id} 
</delete>
<!-- 댓글 좋아요 취소 -->


<!-- 기존의 post_id 값 유무 체크(불러오기) -->
<select id="checkPostId" resultType="String">
	select post_id from _post where member_id = #{member_id} order by post_date desc limit 1
</select>

<!-- 게시물 등록 -->
<!-- post_id, 이미지 구조 변경 필요 -->
<insert id="postInsert">
	insert into _post (post_id, post_resion, member_id, post_title, post_content, post_date, post_type, pet_code, pet_etc_breed, post_pet_place, post_pet_date) 
	values (#{post_id}, #{post_resion}, #{member_id}, #{post_title}, #{post_content}, now(), #{post_type}, #{pet_code}, #{pet_etc_breed}, #{post_pet_place}, #{post_pet_date}) 
</insert>


<insert id="insertPostImages" parameterType="map">
	insert into _image (image_id, image_type, image_sequence, image_src) 
	 values 
	  <foreach collection="images" item="i" separator=","> 
	   (#{post_id}, #{i.image_type}, #{i.image_sequence}, #{i.image_src}) 
	  </foreach> 
</insert>
<!-- 게시물 등록 -->

<!-- 게시물 수정 -->
<update id="updatePost" parameterType="com.Unicon.domain.PostVO">
	update _post set 
	post_title = #{post_title}, post_content = #{post_content}, post_type = #{post_type}, post_resion = #{post_resion}, 
	pet_code = #{pet_code}, pet_etc_breed = #{pet_etc_breed}, post_pet_place = #{post_pet_place}, post_pet_date = #{post_pet_date} 
	where post_id = #{post_id} 
</update>
<insert id="updatePostImages" parameterType="List">
	insert into _image (image_id, image_type, image_sequence, image_src) 
	 values 
	 <foreach collection="list" item="li" separator=","> 
	  (#{li.image_id}, #{li.image_type}, #{li.image_sequence}, #{li.image_src}) 
	 </foreach> 
	 on duplicate key update 
	   image_src = values(image_src) 
</insert>
<!-- 게시물 수정 -->

<!-- 모든 지역 X & 모든 동물 O 불러오기 -->
<select id="getSearchList01" resultMap="PostResultMap">
	select p.*, ct.*, m.*, i.image_sequence, i.image_src, count(pl.member_id) as post_like_count from _post p 
	join _image i on p.post_id = i.image_id 
	join _category_data ct on p.pet_code = ct.category_code 
	join _member m on p.member_id = m.member_id 
	left join _post_like pl on p.post_id = pl.post_id 
	where p.post_type = #{post_type} 
	and p.post_resion = #{post_resion} 
	group by p.post_id, i.image_sequence, i.image_src 
	order by p.post_date desc 
</select>
<!-- 모든 지역 X & 모든 동물 O 불러오기 -->

<!-- 모든 지역 O & 모든 동물 X 불러오기 -->
<select id="getSearchList02" resultMap="PostResultMap">
	select p.*, ct.*, m.*, i.image_sequence, i.image_src, count(pl.member_id) as post_like_count from _post p 
	join _image i on p.post_id = i.image_id 
	join _category_data ct on p.pet_code = ct.category_code 
	join _member m on p.member_id = m.member_id 
	left join _post_like pl on p.post_id = pl.post_id 
	where p.post_type = #{post_type} 
	and ct.category_parent = #{category_parent} 
	group by p.post_id, i.image_sequence, i.image_src 
	order by p.post_date desc 
</select>
<!-- 모든 지역 O & 모든 동물 X 불러오기 -->

<!-- 모든 지역 X & 모든 동물 X 불러오기 -->
<select id="getSearchList03" resultMap="PostResultMap">
	select p.*, ct.*, m.*, i.image_sequence, i.image_src, count(pl.member_id) as post_like_count from _post p 
	join _image i on p.post_id = i.image_id 
	join _category_data ct on p.pet_code = ct.category_code 
	join _member m on p.member_id = m.member_id 
	left join _post_like pl on p.post_id = pl.post_id 
	where p.post_type = #{post_type} 
	and p.post_resion = #{post_resion} 
	and ct.category_parent = #{category_parent} 
	group by p.post_id, i.image_sequence, i.image_src 
	order by p.post_date desc 
</select>
<!-- 모든 지역 O & 모든 동물 X 불러오기 -->


</mapper>


