<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Unicon.mapper.memberMapper">
 
<!-- 아이디 중복 체크 -->
    <select id="checkIdOverlap" resultType="int" parameterType="String">
        SELECT COUNT(*) 
        FROM _member 
        WHERE member_id = #{member_id}
    </select>
<!-- 아이디 중복 체크 -->    

    
<!-- 이메일 중복 체크 -->
    <select id="checkEmailOverlap" resultType="int">
        SELECT COUNT(*)
        FROM _member
        WHERE member_email = #{member_email}
    </select>
<!-- 이메일 중복 체크 -->    


<!-- 일반 회원 가입 -->
    <insert id="insertMember" parameterType="com.Unicon.domain.MemberVO">
        insert into _member (member_id, member_pw, member_name, member_nickname, 
                                  member_tel, member_gender, member_birth, member_email,
                                  mail_subscription, road_address, postal_code,
                                  detail_address, extra_address, signup_date, approval_status, member_type)
                                  
        values                   (#{member_id}, #{member_pw}, #{member_name}, #{member_nickname}, 
                                  #{member_tel}, #{member_gender}, #{member_birth}, #{member_email}, 
                                  #{mail_subscription}, #{road_address},#{postal_code},#{detail_address}, #{extra_address}, now(), "완료", "member")
    </insert>

<!-- 보호센터 회원 가입 -->
    <insert id="insertInstMember" parameterType="com.Unicon.domain.MemberVO">
        insert into _member (member_id, member_pw, member_name, member_nickname, 
                                  member_tel, member_birth, member_email, member_image, 
                                  mail_subscription, road_address, postal_code,
                                  detail_address, extra_address, signup_date, inst_name, is_cosign, inst_type, local_name, inst_number, approval_status, member_type)
                                  
        values                   (#{member_id}, #{member_pw}, #{member_name}, #{member_nickname}, 
                                  #{member_tel}, #{member_birth}, #{member_email},#{member_image},
                                  #{mail_subscription}, #{road_address},#{postal_code},#{detail_address}, #{extra_address}, now(), #{inst_name}, #{is_cosign}, #{inst_type}, #{local_name}, 
                                  #{inst_number}, "완료", "inst")
    </insert>
    
    
<!-- 쇼핑몰 관리자 회원 가입 -->
    <insert id="insertShopMember" parameterType="com.Unicon.domain.MemberVO">
        insert into _member (member_id, member_pw, member_name, member_nickname, 
                                  member_tel, member_birth, member_email,
                                  mail_subscription, road_address, postal_code,
                                  detail_address, extra_address, signup_date, inst_name,inst_number, approval_status, member_image, member_type)
                                  
        values                   (#{member_id}, #{member_pw}, #{member_name}, #{member_nickname}, 
                                  #{member_tel}, #{member_birth}, #{member_email},
                                  #{mail_subscription}, #{road_address},#{postal_code},#{detail_address}, #{extra_address}, now(), #{inst_name}, #{inst_number}, "완료", #{member_image}, "shop")
    </insert>   
    
    

<!-- 사용자 정보 조회 -->
	<select id="getMemberByUsername" parameterType="java.lang.String" resultType="com.Unicon.domain.MemberVO">
	    SELECT *
	    FROM _member
	    WHERE member_id = #{member_id}
	</select>

<!-- 멤버 타입 조회쓰 -->
    <select id="getUserTypeByMemberId" resultType="String">
        SELECT member_type
        FROM _member
        WHERE member_id = #{member_id}
    </select>

</mapper>


