<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Unicon.mapper.OrdersMapper">

<!-- resultMap 작성란 -->
<!-- OrdersResultMap -->
<resultMap type="com.Unicon.domain.OrdersVO" id="OrdersResultMap">
<id property="order_id" column="order_id"/>
	<result property="member_id" column="member_id"/>
	<result property="order_name" column="order_name"/>
	<result property="pay_method" column="pay_method"/>
	<result property="total_product_price" column="total_product_price"/>
	<result property="total_delivery_price" column="total_delivery_price"/>
	<result property="total_price" column="total_price"/>
	<result property="address" column="address"/>
	<result property="detail_address" column="detail_address"/>
	<result property="postal_code" column="postal_code"/>
	<result property="recipient" column="recipient"/>
	<result property="recipient_phone" column="recipient_phone"/>
	<result property="create_date" column="create_date"/>
	<result property="update_date" column="update_date"/>
	<result property="status" column="status"/>
	<result property="invoice_number" column="invoice_number"/>
	<result property="delivery_method" column="delivery_method"/>
	<result property="delivery_comment" column="delivery_comment"/>
	<result property="payment_date" column="payment_date"/>
	<result property="formatted_paydate" column="formatted_paydate"/>
	<result property="imp_uid" column="imp_uid"/>
	
	<association property="memberVO" resultMap="MemberResultMap" />
	
	<collection property="ordersDetails" ofType="com.Unicon.domain.OrdersDetailVO" resultMap="OrdersDetailResultMap"/>
</resultMap>

<!-- OrdersDetailResultMap -->
<resultMap type="com.Unicon.domain.OrdersDetailVO" id="OrdersDetailResultMap">
<id property="order_detail_id" column="order_detail_id"/>
	<result property="order_id" column="order_id"/>
	<result property="product_id" column="product_id"/>
	<result property="product_subprice" column="product_subprice"/>
	<result property="delivery_price" column="delivery_price"/>
	<result property="orders_detail_status" column="orders_detail_status"/>
	
	<association property="shopVO" resultMap="ShopResultMap" />
	
	<collection property="ordersDetailOptions" ofType="com.Unicon.domain.OrdersDetailOptionVO" resultMap="OrdersDetailOptionResultMap"/>
</resultMap>

<!-- OrdersDetailOptionResultMap -->
<resultMap type="com.Unicon.domain.OrdersDetailOptionVO" id="OrdersDetailOptionResultMap">
<id property="order_detail_option_id" column="order_detail_option_id"/>
	<result property="order_detail_id" column="order_detail_id"/>
	<result property="order_id" column="order_id"/>
	<result property="product_option" column="product_option"/>
	<result property="option_price" column="option_price"/>
	<result property="quantity" column="quantity"/>
	<result property="orders_detail_option_status" column="orders_detail_option_status"/>
	<result property="dispatch_date" column="dispatch_date"/>
	<result property="cancellation_request_date" column="cancellation_request_date"/>
	<result property="return_request_date" column="return_request_date"/>
</resultMap>


<!-- MemberResultMap -->
<resultMap type="com.Unicon.domain.MemberVO" id="MemberResultMap">
	<result property="member_id" column="member_id"/>
	<result property="member_name" column="member_name"/>
	<result property="member_tel" column="member_tel"/>
	<result property="member_email" column="member_email"/>
</resultMap>

<!-- ShopResultMap -->
<resultMap type="com.Unicon.domain.ShopVO" id="ShopResultMap">
<id property="product_id" column="product_id"/>
	<result property="product_seller_id" column="product_seller_id"/>
	<result property="product_seller_name" column="product_seller_name"/>
	<result property="product_name" column="product_name"/>
	
	<collection property="product_images" ofType="com.Unicon.domain.ImageVO" resultMap="ImageResultMap"/>
</resultMap>

<!-- "ImageResultMap" -->
<resultMap type="com.Unicon.domain.ImageVO" id="ImageResultMap">
	<id property="image_id" column="image_id"/>
	<id property="image_type" column="image_type"/>
	<id property="image_sequence" column="image_sequence"/>
	<result property="image_src" column="image_src"/>
</resultMap>

	<!-- 결제용 주문정보 가져오기, 임시저장 상태만 가져옴 -->
	<select id="getOrdersInfoForPay" resultMap="OrdersResultMap" parameterType="String">
		select o.*, od.*, odo.*, m.member_name, m.member_email, i.image_src, p.product_name, 
		CONCAT( 
        SUBSTRING(m.member_tel, 1, 3), '-',   
        SUBSTRING(m.member_tel, 4, 4), '-',   
        SUBSTRING(m.member_tel, 8)  
   		 ) AS member_tel, 
   		DATE_FORMAT(o.payment_date, '%Y.%m.%d.') AS formatted_paydate,
        sm.member_name as product_seller_name
		from _orders o 
		join _orders_detail od on o.order_id = od.order_id 
		join _member m on m.member_id = o.member_id
		join _products p on p.product_id = od.product_id 
        join _member sm on sm.member_id = p.product_seller_id
		join _image i on p.product_id = i.image_id 
		join _orders_detail_option odo on odo.order_detail_id = od.order_detail_id 
		and o.payment_date >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH) 
		where o.status = '임시저장' and o.member_id=#{member_id} 
	</select>
	
	<!-- member_id에 따른 주문정보 가져오기 -->
	<select id="getOrdersInfo" resultMap="OrdersResultMap" parameterType="String">
		select o.*, od.*, odo.*, m.member_name, m.member_email, i.image_src, p.product_name, 
		CONCAT( 
        SUBSTRING(m.member_tel, 1, 3), '-',   
        SUBSTRING(m.member_tel, 4, 4), '-',   
        SUBSTRING(m.member_tel, 8)  
   		 ) AS member_tel, 
   		DATE_FORMAT(o.payment_date, '%Y.%m.%d.') AS formatted_paydate,
        sm.member_name as product_seller_name
		from _orders o 
		join _orders_detail od on o.order_id = od.order_id 
		join _member m on m.member_id = o.member_id
		join _products p on p.product_id = od.product_id 
        join _member sm on sm.member_id = p.product_seller_id
		join _image i on p.product_id = i.image_id 
		join _orders_detail_option odo on odo.order_detail_id = od.order_detail_id 
		where o.member_id=#{member_id} and o.status not in ('취소종료', '임시저장') 
		order by o.payment_date desc 
	</select>
	
	
	<!-- order_detail_id에 따른 주문정보 가져오기 -->
	<select id="getOrdersInfoToDetailId" resultMap="OrdersResultMap" parameterType="int">
		select o.*, od.*, odo.*, m.member_name, m.member_email, i.image_src, p.product_name, 
		CONCAT( 
        SUBSTRING(m.member_tel, 1, 3), '-',   
        SUBSTRING(m.member_tel, 4, 4), '-',   
        SUBSTRING(m.member_tel, 8)  
   		 ) AS member_tel, 
   		DATE_FORMAT(o.payment_date, '%Y.%m.%d.') AS formatted_paydate,
        sm.member_name as product_seller_name
		from _orders o 
		join _orders_detail od on o.order_id = od.order_id 
		join _member m on m.member_id = o.member_id
		join _products p on p.product_id = od.product_id 
        join _member sm on sm.member_id = p.product_seller_id
		join _image i on p.product_id = i.image_id 
		join _orders_detail_option odo on odo.order_detail_id = od.order_detail_id 
		where o.status not in ('취소종료', '임시저장') and od.order_detail_id = #{order_detail_id}
		order by o.payment_date desc 
	</select>



	
	<!-- 기본배송지 있는 지 확인 -> address_id 가져옴 -->
	<select id="checkDefaultAddr" resultType="int">
		select address_id 
		from _address 
		where member_id = #{member_id} and is_default_address = 'true' 
	</select>
	
	<!-- 기존의 기본배송정보를 false로 업데이트 -->
	<update id="updateDefalutAddr">
		update _address 
		set is_default_address = 'false' 
		where address_id = #{address_id} 
	</update>
	
	
	<!-- 배송지 등록 -->
	<insert id="addressCreate">
		insert into _address(member_id, is_default_address, address_name, postal_code, road_address, detail_address, 
		extra_address, recipient, recipient_phone) 
		values(#{member_id}, #{is_default_address}, #{address_name}, #{postal_code}, #{road_address}, 
			#{detail_address}, #{extra_address}, #{recipient}, #{recipient_phone} ) 
	</insert>
	
	<!-- 배송지 정보 가져오기 -->
	<select id="getAddrInfo" resultType="AddressVO">
		select *  
		from _address  
		where member_id = #{member_id} 
		order by is_default_address desc 
	</select>
	
	
	<!-- 배송지 정보 가져오기(수정 버튼 시) -->
	<select id="getAddrToId" resultType="AddressVO">
		select * 
		from _address 
		where address_id =#{address_id} 
	</select>
	
	
	<!-- 배송지 수정하기 -->
	<update id="addressUpdate">
		update _address
		set is_default_address=#{is_default_address}, address_name=#{address_name}, postal_code=#{postal_code},  
		road_address=#{road_address}, detail_address=#{detail_address}, extra_address=#{extra_address}, 
		recipient=#{recipient}, recipient_phone=#{recipient_phone}, update_date=now() 
		where address_id =#{address_id} 
	</update>
	
	
	<!-- 배송지 정보 삭제 -->
	<delete id="addressDelete">
		delete 
		from _address 
		where address_id =#{address_id} 
	</delete>
	
	
	<!-- 기본배송정보 가져가기 -->
	<select id="getDefalutAddrInfo" resultType="AddressVO">
		select address_id, member_id, is_default_address, address_name, postal_code, road_address, detail_address, 
		extra_address, recipient, CONCAT( 
        SUBSTRING(recipient_phone, 1, 3), '-',  
        SUBSTRING(recipient_phone, 4, 4), '-',  
        SUBSTRING(recipient_phone, 8) 
   		 ) AS recipient_phone 
		from _address 
		where member_id = #{member_id} and is_default_address='true'  
	</select>


	<!-- 결제완료 시 주문정보 업데이트 -->
	<update id="updateOrdersToPayCompl">
		update _orders 
		set 
		order_name=#{order_name}, pay_method=#{pay_method}, address=#{address}, detail_address=#{detail_address}, 
		postal_code=#{postal_code}, recipient=#{recipient}, recipient_phone=#{recipient_phone}, status='결제완료', 
		delivery_method='배송', delivery_comment=#{delivery_comment}, update_date=now(), payment_date=now(), 
		imp_uid=#{imp_uid} 
		where order_id =#{order_id} 
	</update>
	
	<update id="updateOrdersDetailToPayCompl">
		update _orders_detail 
		set orders_detail_status = '결제완료' 
		where order_id =#{order_id} 
	</update>
	
	<update id="updateOrdersDetailOptionToPayCompl">
		update _orders_detail_option 
		set orders_detail_option_status = '결제완료' 
		where order_id =#{order_id} 
	</update>
	
	
	<!-- order_detail_id에 따른 주문정보 가져오기 -->
	<select id="getOrdersInfoAfterCheckout" resultMap="OrdersResultMap" parameterType="String">
		select o.*, od.*, odo.*, m.member_name, m.member_email, i.image_src, p.product_name, 
		CONCAT( 
        SUBSTRING(m.member_tel, 1, 3), '-',   
        SUBSTRING(m.member_tel, 4, 4), '-',   
        SUBSTRING(m.member_tel, 8)  
   		 ) AS member_tel, 
   		DATE_FORMAT(o.payment_date, '%Y.%m.%d.') AS formatted_paydate,
        sm.member_name as product_seller_name
		from _orders o 
		join _orders_detail od on o.order_id = od.order_id 
		join _member m on m.member_id = o.member_id
		join _products p on p.product_id = od.product_id 
        join _member sm on sm.member_id = p.product_seller_id
		join _image i on p.product_id = i.image_id 
		join _orders_detail_option odo on odo.order_detail_id = od.order_detail_id 
		where o.order_id = #{order_id} 
	</select>
	
	
	<!-- 주문상태 갯수 가져오기 -->
	<select id="getOrdersCount" parameterType="map" resultType="int">
		select count(o.order_id) 
		from _orders o 
		join _orders_detail od on o.order_id = od.order_id 
        where o.member_id=#{member_id} and od.orders_detail_status = #{status} 
	</select>

	<!-- 마이페이지 주문관리 주문상태에 따른 주문정보 가져오기 -->
	<select id="getOrdersInfoToStatus" parameterType="map" resultMap="OrdersResultMap" >
	select o.*, od.*, odo.*, m.member_name, m.member_email, i.image_src, p.product_name, 
		CONCAT( 
        SUBSTRING(m.member_tel, 1, 3), '-',   
        SUBSTRING(m.member_tel, 4, 4), '-',   
        SUBSTRING(m.member_tel, 8)  
   		 ) AS member_tel, 
   		DATE_FORMAT(o.payment_date, '%Y.%m.%d.') AS formatted_paydate,
        sm.member_name as product_seller_name
		from _orders o 
		join _orders_detail od on o.order_id = od.order_id 
		join _member m on m.member_id = o.member_id
		join _products p on p.product_id = od.product_id 
        join _member sm on sm.member_id = p.product_seller_id
		join _image i on p.product_id = i.image_id 
		join _orders_detail_option odo on odo.order_detail_id = od.order_detail_id 
		where o.member_id=#{member_id} and od.orders_detail_status = #{orders_detail_status} 
		order by o.payment_date desc 
	</select>
	
	<!-- 마이페이지 주문관리 주문상태에 따른 주문정보 가져오기 + 기간설정 -->
	<select id="getOrdersInfoToStatusAndTime" parameterType="map" resultMap="OrdersResultMap" >
	select o.*, od.*, odo.*, m.member_name, m.member_email, i.image_src, p.product_name, 
		CONCAT( 
        SUBSTRING(m.member_tel, 1, 3), '-',   
        SUBSTRING(m.member_tel, 4, 4), '-',   
        SUBSTRING(m.member_tel, 8)  
   		 ) AS member_tel, 
   		DATE_FORMAT(o.payment_date, '%Y.%m.%d.') AS formatted_paydate,
        sm.member_name as product_seller_name
		from _orders o 
		join _orders_detail od on o.order_id = od.order_id 
		join _member m on m.member_id = o.member_id
		join _products p on p.product_id = od.product_id 
        join _member sm on sm.member_id = p.product_seller_id
		join _image i on p.product_id = i.image_id 
		join _orders_detail_option odo on odo.order_detail_id = od.order_detail_id 
		where o.member_id=#{member_id} and od.orders_detail_status = #{orders_detail_status} 
		and o.payment_date >= DATE_SUB(CURDATE(), INTERVAL #{monthVal} MONTH) 
		order by o.payment_date desc 
	</select>



</mapper>


