<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Unicon.mapper.productMapper">
 
<resultMap type="com.Unicon.domain.ProductVO" id="ProductResultMap">
	<id property="product_id" column="product_id" />
	<result property="product_seller_id" column="product_seller_id" />
	<result property="product_category_type" column="product_category_type" />
	<result property="product_category_value" column="product_category_value" />
	<result property="product_keyword" column="product_keyword" />
	<result property="product_name" column="product_name" />
	<result property="product_price" column="product_price" />
	<result property="start_date" column="start_date" />
	<result property="end_date" column="end_date" />
	<result property="discount_rate" column="discount_rate" />
	<result property="product_stock" column="product_stock" />
	<result property="product_content" column="product_content" />
	<result property="brand" column="brand" />
	<result property="manufacturer" column="manufacturer" />
	<result property="product_origin" column="product_origin" />
	<result property="product_expiry" column="product_expiry" />
	<result property="product_status" column="product_status" />
	<result property="delivery_method" column="delivery_method" />
	<result property="delivery_company" column="delivery_company" />
	<result property="delivery_price" column="delivery_price" />
	<result property="address" column="address" />
	<result property="create_date" column="create_date" />
	<result property="update_date" column="update_date" />
	<result property="approval_date" column="approval_date" />
	
	<result property="approval_id" column="approval_id" />
	<result property="comments" column="comments" />
	<result property="option_type" column="option_type" />
	
	<association property="categoryDataVO" resultMap="CategoryResultMap"/>
	
	<collection property="product_images" ofType="com.Unicon.domain.ImageVO" resultMap="ImageResultMap"/>
</resultMap>

<resultMap type="com.Unicon.domain.CategoryDataVO" id="CategoryResultMap">
	<id property="category_code" column="category_code"/>
	<result property="category_type" column="category_type"/>
	<result property="category_value" column="category_value"/>
</resultMap>

<resultMap type="com.Unicon.domain.ImageVO" id="ImageResultMap">
	<id property="image_id" column="image_id"/>
	<id property="image_type" column="image_type"/>
	<id property="image_sequence" column="image_sequence"/>
	<result property="image_src" column="image_src"/>
</resultMap>

<resultMap type="OptionVO" id="OptionResultMap">
    <id property="option_id" column="option_id"/>        <!-- 기본 키 -->
    <result property="product_id" column="product_id"/>  <!-- 상품 ID -->
    <result property="option_name" column="option_name"/>  <!-- 옵션 이름 -->
    <result property="option_value" column="option_value"/> <!-- 옵션 값 -->
    <result property="option_price" column="option_price"/> <!-- 옵션 가격 -->
    <result property="option_stock" column="option_stock"/> <!-- 옵션 재고 -->
    <result property="option_name2" column="option_name2"/> <!-- 추가 옵션 이름 -->
    <result property="option_value2" column="option_value2"/> <!-- 추가 옵션 값 -->
</resultMap>

<resultMap id="OrdersDetailMap" type="OrdersDetailVO">
    <id property="order_detail_id" column="order_detail_id"/>
    <result property="order_id" column="order_id"/>
    <result property="product_id" column="product_id"/>
    <result property="product_subprice" column="product_subprice"/>
    <result property="delivery_price" column="delivery_price"/>
    <result property="orders_detail_status" column="orders_detail_status"/>
    
    <!-- ShopVO 객체 매핑 -->
    <association property="shopVO" javaType="ShopVO" resultMap="ShopResultMap"/>
    
    <!-- OrdersDetailOptionVO 리스트 매핑 -->
    <collection property="ordersDetailOptions" ofType="OrdersDetailOptionVO" resultMap="OrdersDetailOptionMap"/>

</resultMap>
<resultMap id="OrdersDetailOptionMap" type="com.Unicon.domain.OrdersDetailOptionVO">
    <id property="order_detail_option_id" column="order_detail_option_id"/>
    <result property="order_detail_id" column="order_detail_id"/>
    <result property="order_id" column="order_id"/>
    <result property="product_option" column="product_option"/>
    <result property="option_price" column="option_price"/>
    <result property="quantity" column="quantity"/>
    <result property="orders_detail_option_status" column="orders_detail_option_status"/>
    <result property="dispatch_date" column="dispatch_date"/>
    <result property="cancellation_request_date" column="cancellation_request_date"/>
    <result property="return_request_date" column="return_request_date"/>
    <result property="review_check" column="review_check"/>
</resultMap>

<resultMap id="ShopResultMap" type="ShopVO">
    <id property="shop_id" column="shop_id"/>
    <result property="shop_name" column="shop_name"/>
    <result property="shop_location" column="shop_location"/>
    <result property="shop_status" column="shop_status"/>
</resultMap>

<resultMap id="OrdersMap" type="OrdersVO">
    <!-- 주 키를 매핑 -->
    <id property="order_id" column="order_id"/>
    <result property="member_id" column="member_id"/>
    <result property="order_name" column="order_name"/>
    <result property="pay_method" column="pay_method"/>
    <result property="total_product_price" column="total_product_price"/>
    <result property="total_delivery_price" column="total_delivery_price"/>
    <result property="total_price" column="total_price"/>
    <result property="address" column="address"/>
    <result property="detail_address" column="detail_address"/>
    <result property="postal_code" column="postal_code"/>
    <result property="recipient" column="recipient"/>
    <result property="recipient_phone" column="recipient_phone"/>
    <result property="status" column="status"/>
    <result property="invoice_number" column="invoice_number"/>
    <result property="delivery_method" column="delivery_method"/>
    <result property="delivery_comment" column="delivery_comment"/>
    <result property="create_date" column="create_date"/>
    <result property="update_date" column="update_date"/>
    <result property="payment_date" column="payment_date"/>
    <result property="formatted_paydate" column="formatted_paydate"/>
    <result property="imp_uid" column="imp_uid"/>
    
    <!-- MemberVO 객체 매핑 -->
    <association property="memberVO" javaType="MemberVO" />
    <!-- OrdersDetailVO 리스트를 매핑 -->
    <collection property="ordersDetails" ofType="OrdersDetailVO" resultMap="OrdersDetailMap"/>
    
</resultMap>
<!-- Result Map -->
    <resultMap id="BlackConsumerResultMap" type="BlackConsumerVO">
        <id property="id" column="id" />
        <result property="product_seller_id" column="product_seller_id" />
        <result property="member_id" column="member_id" />
        <result property="comment" column="comment" />
        <result property="reason" column="reason" />
    </resultMap>


<insert id="insertProduct" parameterType="com.Unicon.domain.ProductVO">
    INSERT INTO _products (
        product_id,
        product_seller_id,
        product_category_type,
        product_category_value,
        product_keyword,
        product_name,
        product_price,
        start_date,
        end_date,
        discount_rate,
        product_stock,
        product_content,
        brand,
        manufacturer,
        product_origin,
        product_expiry,
        product_status,
        delivery_company,
        delivery_price,
        address,
        create_date,
        update_date,
        approval_date,
        approval_id,
        option_type
    ) 
    VALUES (
        (SELECT CONCAT('prod-', YEAR(CURRENT_DATE), '-', LPAD(IFNULL(MAX(SUBSTRING(product_id, -4)), 0) + 1, 4, '0'))
         FROM (SELECT product_id FROM _products WHERE product_id LIKE CONCAT('prod-', YEAR(CURRENT_DATE), '%')) AS temp),
        #{product_seller_id},
        #{product_category_type},
        #{product_category_value},
        #{product_keyword},
        #{product_name},
        #{product_price},
        #{start_date},
        #{end_date},
        #{discount_rate},
        #{product_stock},
        #{product_content},
        #{brand},
        #{manufacturer},
        #{product_origin},
        #{product_expiry},
        '승인대기',
        #{delivery_company},
        #{delivery_price},
        (SELECT address FROM member WHERE member_id = 'junghun87'),  -- 서브쿼리 추가 -> 이거 나중에는 'junghun87'이걸 member_id로 변경해야됨
        NOW(),
        NOW(),
        null,
        null,
        #{option_type}
    )
</insert>

<select id="selectInsertedProductId" resultType="string">
    SELECT product_id 
    FROM _products 
    WHERE product_seller_id = #{product_seller_id} 
    and product_name = #{product_name}
    ORDER BY create_date DESC 
    LIMIT 1
</select>


<insert id="insertOptions" parameterType="List">
	insert into _option (option_id, product_id, option_name, option_value, option_price, option_stock,option_name2, option_value2) 
	 values 
	  <foreach collection="list" item="li" separator=","> 
	   (null, #{li.product_id}, #{li.option_name}, #{li.option_value},#{li.option_price},#{li.option_stock},
	   <choose>
             <when test="li.option_name2 == 'undefined'">null</when>
             <otherwise>#{li.option_name2}</otherwise>
       </choose>, 
       
	   <choose>
             <when test="li.option_value2 == 'undefined'">null</when>
             <otherwise>#{li.option_value2}</otherwise>
       </choose>
       )
	  </foreach> 
</insert>

<insert id="insertProductImages" parameterType="List">
	insert into _image (image_id, image_type, image_sequence, image_src) 
	 values 
	  <foreach collection="list" item="li" separator=","> 
	   (#{li.image_id}, #{li.image_type}, #{li.image_sequence}, #{li.image_src}) 
	  </foreach> 
</insert>


<!-- product 리스트 -->
<select id="getProductList" resultMap="ProductResultMap">
    SELECT * FROM _products WHERE 1=1 and product_seller_id = #{member_id}
        <!-- 동적 조건: product_name 검색 -->
        <if test="product_name != null and product_name != ''">
            AND product_name LIKE CONCAT('%', #{product_name}, '%')
        </if>
        <!-- 동적 조건: manufacturer 검색 -->
        <if test="manufacturer != null and manufacturer != ''">
            AND manufacturer LIKE CONCAT('%', #{manufacturer}, '%')
        </if>
        <!-- 동적 조건: brand 검색 -->
        <if test="brand != null and brand != ''">
            AND brand LIKE CONCAT('%', #{brand}, '%')
        </if>
        <!-- 동적 조건: 카테고리 검색 -->
        <if test="category != null and category != ''">
            AND product_category_type = #{category}
        </if>
        <!-- 동적 조건: 상태 필터링 -->
            AND product_status IN 
            <foreach collection="selectedStatuses" item="status" open="(" separator="," close=")">
                #{status}
            </foreach>
         <!-- 동적 조건: create_date 범위 검색 -->
        <if test="start_date != '' and end_date != ''">
            AND create_date BETWEEN #{start_date} AND #{end_date}
        </if>
</select>

<!-- product option 리스트-->
<select id="getOptionDetails" resultMap="OptionResultMap">
	select * from _option where product_id = #{product_id}
</select>

<!-- updateDate 판매 시작,종료 날짜 업데이트 -->
<update id="updateDate" >
	update _products
	set 
		start_date = #{newStartDate},
		end_date = #{newEndDate}
	where 
		product_id = #{currentProductId}
</update>

<!-- updateDate 판매 시작,종료 날짜 업데이트 -->
<update id="updateStock" >
	update _option
	set 
		option_stock = #{newStock}
	where 
		product_id = #{currentProductId} and 
		option_value = #{option_value} and
		option_price = #{option_price} 
</update>


<!-- updateStatus  업데이트 -->
<update id="updateStatus" >
	update _products
	set 
		product_status = #{productStatus}
	where 
		product_id = #{currentProductId}
</update>
<update id="updatePrice" >
	update _products
	set 
		product_price = #{product_price}
	where 
		product_id = #{currentProductId}
</update>

<select id="getOrdersWithDetails" resultMap="OrdersMap">
SELECT 
   	   o.*
FROM 
    _products p
INNER JOIN 
    _orders_detail d ON d.product_id = p.product_id
INNER JOIN 
    _orders o ON o.order_id = d.order_id
WHERE 
    p.product_seller_id = #{member_id}
    AND o.status NOT IN ('취소종료', '취소')
    
    <!-- 검색 조건 -->
    <if test="searchKey != null and searchValue != null and searchKey != 'all'">
        AND o.${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
    </if>
    
    <!-- 날짜 범위 조건 -->
    <if test="startDate != null and endDate != null">
        AND o.payment_date BETWEEN #{startDate} AND #{endDate}
    </if>
</select>

<select id="getOrderDetail" resultType="Map">
 SELECT 
        i.image_src,
        od.product_option,
        d.product_id,
        od.quantity
    FROM _orders o
    left JOIN _orders_detail d 
        ON o.order_id = d.order_id
    LEFT JOIN _image i
        ON d.product_id = i.image_id
	left join _orders_detail_option od 
        on od.order_id = o.order_id
    left join _products p
        on p.product_id = d.product_id
    WHERE od.order_id = #{id}
    and i.image_sequence = 0
    AND od.orders_detail_option_status NOT IN ('취소', '취소종료');
</select>

<!-- 송장번호 업데이트.  -->
<update id="updateInvoiceNumber" >
	UPDATE _orders o
JOIN _orders_detail d ON o.order_id = d.order_id
JOIN _orders_detail_option od ON o.order_id = od.order_id
SET 
	o.invoice_number = #{invoice_number},
    o.status =  "배송중",
	d.orders_detail_status = "배송중",
    od.orders_detail_option_status = "배송중"
    
WHERE o.order_id = #{order_id};
</update>


<!-- 판매방해 고객  -->
<insert id="insertBlackConsumer" parameterType="BlackConsumerVO">
 INSERT INTO _black_consumer (product_seller_id, member_id, comment, reason)
 VALUES 
 <foreach collection="memberIdList" item="id" separator=",">
     (#{product_seller_id}, #{id}, #{comment}, #{reason})
 </foreach>
</insert>



<select id="getBlackConsumer" resultMap="BlackConsumerResultMap">
select * from _black_consumer where product_seller_id = #{id}
</select>




</mapper>
