<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Unicon.mapper.ShopMapper">


<!-- resultMap 작성란 -->
<resultMap type="com.Unicon.domain.ShopVO" id="ShopResultMap">
	<id property="product_id" column="product_id"/>
	<result property="product_seller_id" column="product_seller_id"/>
	<result property="product_category_type" column="product_category_type"/>
	<result property="product_category_value" column="product_category_value"/>
	<result property="product_keyword" column="product_keyword"/>
	<result property="product_name" column="product_name"/>
	<result property="product_price" column="product_price"/>
	<result property="start_date" column="start_date"/>
	<result property="end_date" column="end_date"/>
	<result property="discount_rate" column="discount_rate"/>
	<result property="product_stock" column="product_stock"/>
	<result property="product_content" column="product_content"/>
	<result property="brand" column="brand"/>
	<result property="manufacturer" column="manufacturer"/>
	<result property="product_origin" column="product_origin"/>
	<result property="product_expiry" column="product_expiry"/>
	<result property="product_status" column="product_status"/>
	<result property="delivery_method" column="delivery_method"/>
	<result property="delivery_price" column="delivery_price"/>
	<result property="address" column="address"/>
	<result property="create_date" column="create_date"/>
	<result property="update_date" column="update_date"/>
	<result property="approval_date" column="approval_date"/>
	<result property="approval_id" column="approval_id"/>
	<result property="comments" column="comments"/>
	<result property="option_type" column="option_type"/>
	
	<association property="memberVO" resultMap="MemberResultMap" />
	
	<collection property="product_images" ofType="com.Unicon.domain.ImageVO" resultMap="ImageResultMap"/>

</resultMap>


	<!-- Cart용 ResultMap -->
	<resultMap type="com.Unicon.domain.CartVO" id="CartResultMap">
		<id property="cart_id" column="cart_id"/>
		
		<association property="shopVO" resultMap="CartShopResultMap" />
		<collection property="cart_list" ofType="com.Unicon.domain.CartDetailVO" resultMap="CartDetailResultMap"/>
		
	</resultMap>

	<!-- CartProductResultMap -->
	<resultMap type="com.Unicon.domain.ShopVO" id="CartShopResultMap">
		<id property="product_id" column="product_id"/>
		<result property="product_seller_id" column="product_seller_id"/>
		<result property="product_name" column="product_name"/>
		<result property="product_price" column="product_price"/>
		<result property="discount_rate" column="discount_rate"/>
		<result property="delivery_method" column="delivery_method"/>
		<result property="delivery_company" column="delivery_company"/>
		<result property="delivery_price" column="delivery_price"/>
		
		<association property="memberVO" resultMap="MemberResultMap" />
		<collection property="product_images" ofType="com.Unicon.domain.ImageVO" resultMap="ImageResultMap"/>
		
	</resultMap>	
	
	<!-- CartDetailResultMap -->
	<resultMap type="com.Unicon.domain.CartDetailVO" id="CartDetailResultMap">
		<id property="cart_detail_id" column="cart_detail_id"/>
		<result property="cart_id" column="cart_id"/>
		<result property="option_name" column="option_name"/>
		<result property="option_value" column="option_value"/>
		<result property="option_name2" column="option_name2"/>
		<result property="option_value2" column="option_value2"/>
		<result property="quantity" column="quantity"/>
		<result property="option_price" column="option_price"/>
	</resultMap>

<!-- CategoryResultMap -->
<resultMap type="com.Unicon.domain.CategoryDataVO" id="CategoryDataResultMap">
	<id property="category_code" column="category_code"/>
	<result property="category_type" column="category_type"/>
	<result property="category_value" column="category_value"/>
	<result property="category_parent" column="category_parent"/>
</resultMap>

<!-- MemberResultMap -->
<resultMap type="com.Unicon.domain.MemberVO" id="MemberResultMap">
	<result property="member_id" column="member_id"/>
	<result property="member_name" column="member_name"/>
	<result property="member_nickname" column="member_nickname"/>
	<result property="member_image" column="member_image"/>
</resultMap>

<!-- "ImageResultMap" -->
<resultMap type="com.Unicon.domain.ImageVO" id="ImageResultMap">
	<id property="image_id" column="image_id"/>
	<id property="image_type" column="image_type"/>
	<id property="image_sequence" column="image_sequence"/>
	<result property="image_src" column="image_src"/>
</resultMap>

<!-- "ReviewResultMap" -->
<resultMap type="com.Unicon.domain.ReviewVO" id="ReviewResultMap">
	<id property="review_id" column="review_id"/>
	<result property="member_id" column="member_id"/>
	<result property="product_id" column="product_id"/>
	<result property="order_detail_option_id" column="order_detail_option_id"/>
	<result property="review_rate" column="review_rate"/>
	<result property="review_content" column="review_content"/>
	<result property="review_create_date" column="review_create_date"/>
	<result property="formatted_review_create_date" column="formatted_review_create_date"/>
	
	<association property="memberVO" resultMap="MemberResultMap" />
	<association property="odoVO" resultMap="OdoResultMap" />
	
</resultMap>

<!-- OdoResultMap -->
<resultMap type="com.Unicon.domain.OrdersDetailOptionVO" id="OdoResultMap">
	<id property="order_detail_option_id" column="order_detail_option_id"/>
	<result property="product_option" column="product_option"/>
</resultMap>

	<!-- shop 페이지 접속 시 모든 상품정보 가져오기 -->
	<select id="getProductAll" resultMap="ShopResultMap">
		select p.*, i.* 
		from _products p 
		join _image i on p.product_id = i.image_id 
		where product_status in ('판매중', '품절') 
	</select>

	<!-- 상품 페이징 처리(첫 로딩시) -->
	<select id="shopPaging" resultMap="ShopResultMap" parameterType="String">
		select p.*, i.* 
		from _products p 
		join _image i on p.product_id = i.image_id 
		where p.product_category_value = #{product_category_value} 
		and product_status in ('판매중', '품절') 
	</select>

	<!-- 상세페이지 이동시 해당제품 상품정보 가져오기 -->
	<select id="getProduct" resultMap="ShopResultMap" parameterType="String">
		select p.*, i.*, m.member_name 
		from _products p  
		join _image i on p.product_id = i.image_id  
		join _member m on p.product_seller_id = m.member_id  
		where p.product_id = #{product_id} 
	</select>
	
	<!-- 옵션1 정보 가져오기(가격제외) -->
	<select id="getOption1" resultType="OptionVO">
		select distinct option_name, option_value, option_name2 
		from _option 
		where product_id = #{product_id} 
	</select>
	
	<!-- 옵션1 정보 가져오기(가격포함) -->
	<select id="getOption1ForSole" resultType="OptionVO">
		select distinct option_name, option_value, option_price, option_stock, option_name2 
		from _option 
		where product_id = #{product_id} 
	</select>
	
	<!-- 단독형 - 옵션 선택 시 해당 옵션가격 가져오기 -->
	<select id="getSoleOptionPrice" parameterType="map" resultType="int">
		select option_price 
		from _option 
		where product_id = #{product_id} and option_value = #{option_value} 
	</select>
	
	
	<!-- 조합형 - 옵션1 선택시 옵션2 가져오기 -->
	<select id="getOption" parameterType="map" resultType="OptionVO">
		select distinct option_name2, option_value2, option_price 
		from _option 
		where product_id = #{product_id} and option_value = #{option_value} 
	</select>
	
	<!-- 조합형 - 옵션1 옵션2 선택시 옵션가격 가져오기 -->
	<select id="getOptionPrice" parameterType="map" resultType="int">
		select option_price 
		from _option 
		where product_id = #{product_id} and option_value = #{option_value} and option_value2 = #{option_value2} 
	</select>

	<!-- 최신 cart번호 가져오기 -->
	<select id="getCartid" resultType="int">
		select cart_id from _cart order by cart_id desc limit 1
	</select>
	
	<!-- cart_id가져오기 (중복여부 확인) -->
	<select id="getCartidToCheck" resultType="int">
		select cart_id 
		from _cart 
		where member_id =#{member_id} and product_id=#{product_id} 
	</select>
	
	<!-- 옵션이 일치하는 값이 존재하는지 수량을 가져오기 -->
	<select id="optionQuantityCheck" resultType="int">
		select d.quantity 
		from _cart c 
		join _cart_detail d on c.cart_id = d.cart_id 
		where c.cart_id = #{cart_id} and option_value = #{option_value}
		<if test="option_value2 != null">
			and option_value2= #{option_value2}
		</if>
	</select>
	
	<!-- 옵션 체크 후 해당 옵션값이 없음 => insert -->
	<insert id="saveCartDetailAfterCheck">
		insert into _cart_detail(cart_id, option_name, option_value, 
		option_name2, option_value2, quantity, option_price) 
		values(#{cart_id}, #{option_name}, #{option_value}, #{option_name2}, #{option_value2}, 
	    #{quantity}, #{option_price}) 
	</insert>
	
	<!-- 해당 옵션이 이미 있음 가져온 수량에 현재 수량을 더한 값을 저장 -->
	<update id="updateCartDetailAfterCheck">
		update _cart_detail 
		set quantity = #{quantity} 
		where cart_id = #{cart_id} and option_value = #{option_value} 
		<if test="option_value2 != null">
		and option_value2 = #{option_value2}
		</if>
	</update>
	

	<!-- 상세페이지에서 선택한 상품정보 cart, cart_detail 저장하기 -->
	<!-- cart 테이블 저장 -->
	<insert id="saveCart">
		insert into _cart(cart_id, member_id, product_id) 
		values(${cart_id}, #{member_id}, #{product_id}) 
	</insert>

	<!-- cart detail 테이블 저장 -->
	<insert id="saveCartDetail" parameterType="List">
		insert into _cart_detail(cart_id, option_name, option_value, 
		option_name2, option_value2, quantity, option_price) 
		values
		<foreach collection="list" item="li" separator=","> 
	   (#{li.cart_id}, #{li.option_name}, #{li.option_value}, #{li.option_name2}, #{li.option_value2}, 
	   #{li.quantity}, #{li.option_price}) 
	  </foreach> 
	</insert>


	<!-- 장바구니 페이지 이동 시 장바구니 정보 가져오기 -->
	<select id="getCartAll" resultMap="CartResultMap" parameterType="String">
		select c.cart_id, p.product_id, p.product_name, p.product_price, p.discount_rate, 
		p.delivery_method, p.delivery_price, d.*, m.member_name, i.* 
		from _cart c 
		join _cart_detail d on c.cart_id = d.cart_id 
		join _products p on c.product_id = p.product_id 
		join _member m on p.product_seller_id = m.member_id 
		join _image i on p.product_id = i.image_id 
		where c.member_id = #{member_id} 
	</select>


	<!-- 장바구니에서 수량 조절 시 db 실시간 저장 -->
	<update id="quantityChange" parameterType="map">
		update _cart_detail  
		set quantity = quantity + #{num}  
		where cart_detail_id = #{cart_detail_id} 
	</update>

	
	<!-- 옵션 삭제 시 ajax구현(디비 실시간 반영) -->
	<delete id="removeOption">
		delete from _cart_detail 
		where cart_detail_id = #{cart_detail_id} 
	</delete>


	<!-- 상품 삭제시 cart 테이블 해당 정보 삭제 -->
	<delete id="removeProduct">
		delete from _cart 
		where cart_id = #{cart_id} 
	</delete>

	<!-- 상품 삭제시 cart_detail 테이블 해당 정보 삭제 -->
	<delete id="removeProductOption">
		delete from _cart_detail 
		where cart_id = #{cart_id}
	</delete>
	
	<!-- member_id에 해당하는 모든 cart_id 가져오기 -->
	<select id="getCartIdForEmpty" resultType="CartVO">
		select cart_id 
		from _cart 
		where member_id = #{member_id} 
	</select>
	
	<!-- cart 테이블 삭제  -->
	<delete id="removeCart">
		delete from _cart 
		where member_id = #{member_id} 
	</delete>
	
	<!-- cart_detail 테이블 삭제 -->
	<delete id="removeCartDetail" parameterType="list">
		delete from _cart_detail
		where cart_id in 
		<foreach collection="list" item="li" open="(" separator="," close=")">
			#{li.cart_id} 
		</foreach>
	</delete>
	
	
	<!-- 올해 첫 주문Id가 있는지 확인하기 -->
	<select id="checkOrderId" resultType="String">
		select order_id 
		from _orders 
		order by order_id desc 
		limit 1 
	</select>
	
	<!-- 현재 member_id와 임시저장 상태인 order_id 가져오기 -->
	<select id="getOrderIdToMemberId" resultType="String">
		select order_id  
		from _orders 
		where member_id= #{member_id} and status = '임시저장' 
		limit 1 
	</select>
	
	<!-- 0-1. 기존에 임시저장된 orders/ordersDetail/ordersDetailOption 상태 '취소종료'로 변경 -->
	<update id="updateOrdersToCancel" parameterType="String">
		update _orders 
		set status = '취소종료' 
		where order_id = #{cancelorder_id} 
	</update>
	
	<update id="updateOrdersDetailToCancel" parameterType="String">
		update _orders_detail 
		set orders_detail_status = '취소종료' 
		where order_id = #{cancelorder_id} 
	</update>
	
	<update id="updateOrdersDetailOptionToCancel" parameterType="String">
		update _orders_detail_option  
		set orders_detail_option_status = '취소종료' 
		where order_id = #{cancelorder_id} 
	</update>
	
	<!-- orders테이블에 임시저장 상태로 생성 -->
	<insert id="insertOrders">
		insert into _orders(order_id, member_id, total_product_price, total_delivery_price, total_price)  
		values(#{order_id}, #{member_id}, #{total_product_price}, #{total_delivery_price}, 
		#{total_price} ) 
	</insert>
	
	<!-- orders_detail 테이블 저장 -->
	<insert id="insertOrdersDetail" parameterType="list">
		insert into _orders_detail(order_id, product_id, product_subprice, delivery_price) 
		values 
		<foreach collection="list" item="li" separator="," >
		(#{li.order_id}, #{li.product_id}, #{li.product_subprice}, #{li.delivery_price})  
		</foreach>
	</insert>
	
	<!-- orders_detail_id 가져오기 -->
	<select id="getOrderDid" resultType="OrdersDetailVO">
		select order_detail_id 
		from _orders o 
		join _orders_detail d on o.order_id = d.order_id 
		where o.status='임시저장' 
	</select>
	
	<!-- orders_detail_option 테이블 저장(임시저장 상태) -->
	<insert id="insertOrdersDetailOptions" parameterType="list">
		insert into _orders_detail_option(order_id, order_detail_id, product_option, option_price, quantity) 
		values 
		<foreach collection="list" item="li" separator="," >
		(#{li.order_id}, #{li.order_detail_id}, #{li.product_option}, #{li.option_price}, #{li.quantity})  
		</foreach>
	</insert>
	

	<!-- 카테고리 대분류 선택 시 소분류 데이터 가져오기 -->
	<select id="makeCategoryValue" resultType="CategoryDataVO">
		select category_value 
		from _category_data 
		where category_code =#{category_code} 
	</select>
	
	
	<!-- 이미 등록된 관심상품인지 확인 -->
	<select id="checkInterest" resultType="InterestVO">
		select * 
		from _interest 
		where member_id=#{member_id} and product_id=#{product_id} 
	</select>
	
	
	<!-- 하트 눌렀을때 관심상품으로 등록하기 -->
	<insert id="addInterest" parameterType="map">
		insert into _interest(product_id, member_id)  
		values(#{product_id}, #{member_id}) 
	</insert>
	
	
	<!-- 리뷰정보 가져오기 -->
	<select id="getReview" resultMap="ReviewResultMap" parameterType="String">
		select r.review_rate, r.review_content, 
		DATE_FORMAT(r.review_create_date, '%Y.%m.%d.') AS formatted_review_create_date, 
		m.member_name, m.member_image, m.member_nickname, odo.product_option  
		from _review r  
		join _member m on r.member_id = m.member_id
        join _orders_detail_option odo on odo.order_detail_option_id = r.order_detail_option_id
		where r.product_id = #{product_id}  
		order by r.review_create_date desc 
	</select>
	
	
	<!-- 세일품목 정보 가져오기(4개) -->
	<select id="getShopItemForMain" resultMap="ShopResultMap">
		select p.*, i.* 
		from _products p 
		join _image i on p.product_id = i.image_id 
		order by discount_rate desc 
		limit 20
	</select>
	
	
</mapper>


